

.bg-img {
    width: 50%;
    height: auto;
  }
  .form-control{
      border: none;
      border-bottom: 1px solid #c5c5c5;
      box-shadow:none;
      
  }
  
.eyeicon {
  position: absolute;
  right: -15px;
  top: 10px;
  cursor: pointer;
  padding-right: 1.5rem;
  padding-top: 8px;
  font-size: large;
  color: blue;
  
}
  .label-place{
    opacity: 0.5;
  }
  .login-page {
    min-height: 100vh;
    position: relative;
  }
  .login-page::before {
    content: "";
    display: block;
    z-index: -1;
    background: url(../../../assets/img/Login.png);
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .login-page .container {
    z-index: 999;
  }
  
  .text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
  }
  