<table class="table table-stripped table-condensed">
  <thead>
    <div >
      <select  class="abcd"  (change)="onTableSizeChange($event)" >
        
        <option *ngFor="let size of tableSizes">{{size}} </option>
      </select>
    </div>

    <tr>
      <th>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            (change)="bulk($event)"
          />
        </div>
      </th>
      <th >Sr No</th>
      <th scope="col" *ngFor="let head of column">
        <div *ngIf="head.displayName == 'First Name'">
          <tr (click)="sort('ForeName')">
            {{
              head.displayName
            }}<i class="bi bi-sort-alpha-down"></i>
          </tr>
        </div>
        <div *ngIf="head.displayName == 'DOB'">
          <tr (click)="sort('DOB')">
            {{
              head.displayName
            }}<i class="bi bi-sort-alpha-down"></i>
          </tr>
        </div>

        <div
          *ngIf="head.displayName != 'First Name' && head.displayName != 'DOB'"
        >
          {{ head.displayName }}
        </div>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let d of data
          | filter: searchfilter
          | sorting: reverse:orderHeader
          | paginate: { itemsPerPage: recordsPerPage, currentPage: p };
        let i = index
      "
    >
    <td>
      <div class="form-check">
        <input (ngModel)="d.selected" class="form-check-input" type="checkbox" [checked]="checks" (change)="checkbox(d)" />
        <label class="form-check-label" for="flexCheckDefault"> </label>
      </div>
      </td>
      <td>{{ i + 1 }}</td>

      <td *ngFor="let head of column">
        <div *ngIf="head.type == 'email'" [attr.title]="d[head.columnName]">
          <app-button
            [class]="'btn btn-link'"
            [iconclass]="'bi bi-envelope'"
            [text]="d[head.columnName].substr(0, 12)"
          ></app-button>
        </div>
        <div *ngIf="head.type == 'phone'">
          <app-button
            [class]="'pe-none'"
            [iconclass]="'bi bi-telephone'"
            [text]="d[head.columnName].substr(0, 10)"
          ></app-button>
        </div>

        <div *ngIf="head.type != 'email' && head.type != 'phone'">
          {{ d[head.columnName] }}
        </div>
      </td>

      <td>
        <span *ngFor="let head of buttons" [title]="head.buttonname">
          <app-button (click)="handleButtonClick(head,d)"
            [class]="head.buttondesc.class"
            [iconclass]="head.buttondesc.iconClass"
            [text]="head.buttondesc.text"
          ></app-button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div class="divclasss">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
